body {
  background-color: #66bfbf;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: aqua;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: powderblue;
  padding-top: 100px;
  height: 100%;
}

.middle-container {
  background-color: #66bfbf;
  padding-bottom: 10px;
  height: 100%;
}

.bottom-container {
  background-color: powderblue;
  padding-top: 5px

}
/*
.software {
  text-decoration: underline;
}
*/
.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px
}

.bottom-cloud {
  position: absolute;
  bottom: 60%;
  left: 300px
}
.skills {
  background-color: #66bfbf;
}
